{% extends 'base.html.twig' %}

{% block title %}The Legend Of Zelda: The Great Forum{% endblock %}

{% block body %}
    {{ include('tool/headerBig.html.twig') }}
    <div class="container">
        <h1>Les derniers articles</h1>
        <div class="containerArticles">
        {% for article in articles %}
            <a href="/article/{{ article.id }}">
                <div class="carteArticle">
                    <img class="imageArticle" alt='' src= {{ asset('uploads/' ~ article.imageFile) }}>
                    <div class="containerTexteArticle">
                            <h3 class="titreArticle">{{ article.title }}</h3>
                            <p class="auteurArticle">{{ article.user }}</p>
                    </div>
                </div>
            </a>
        {% else %}
            <p>Aucun article trouvé ! C'est bien malheureux...</p>
        {% endfor %}
        </div>
        <h1>Les dernières vidéos</h1>
        {% for video in videos %}
            <iframe
                src="{{ video.url }}"
                height="360"
                width="640">
        </iframe>
        {% endfor %}

    </div>
{% endblock %}
