{% extends 'base.html.twig' %}

{% block title %}The Legend Of Zelda: The Great Forum{% endblock %}

{% block body %}
    <header>
        <a href={{ path('home') }}><img alt="logo" src={{ asset("media/Logo.png") }}></a>
        <nav>
            <ul>
                <li><a href={{ path('app_profile_articles_new') }}>Ecrire un article</a></li>
                <li><a href={{ path('app_profile_articles_index') }}>Contact</a></li>
                {% if app.user %}
                    <li><a href={{ path('app_profile_show') }}>Profil</a></li>
                {% else %}
                    <li><a href={{ path('app_login') }}>Se connecter</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Les derniers articles</h1>
        <div class="containerArticles">
        {% for article in articles %}
            <a href="/profile/articles/{{ article.id }}">
                <button class="article" >
                    <tr>
                        <td>
                            <img class="imageArticle" alt='' src= {{ asset('uploads/' ~ article.imageFile) }}>
                        </td>
                        <td><h3 class="titreArticle">{{ article.title }}</h3></td>
                        <td><p class="auteurArticle">{{ article.user}} </p></td>
                    </tr>
                </button>
            </a>
        {% else %}
            <tr>
                <td colspan="4">Aucun article trouvé ! C'est bien malheureux...</td>
            </tr>
        {% endfor %}
        </div>
        <h1>Les dernières vidéos</h1>
    </div>
{% endblock %}
