{% extends 'base.html.twig' %}

{% block title %}The Legend Of Zelda: The Great Forum{% endblock %}

{% block body %}
    <style>
        .container { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        #agreeT { display: flex; }
    </style>
    <div class="container">
        <h1>Créer un compte</h1>

        {# {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {
                label: 'E-mail',
            }) }}
            {{ form_row(registrationForm.username, {
                label: 'Nom d\'utilisateur',
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                label: 'J\'ai lu et accepté les conditions d\'utilisation.'
            }) }} #}

        {{ form_start(registrationForm) }}
        <label for="inputEmail">E-mail</label><br>
        {{ form_row(registrationForm.email, { label: ' ', }) }}
        <label for="inputUsername">Nom d'utilisateur</label><br>
        {{ form_row(registrationForm.username, { label: ' ', }) }}
        <label for="inputPassword">Mot de passe</label><br>
        {{ form_row(registrationForm.plainPassword, { label: ' ', }) }}
        <div id="agreeT">
            {{ form_row(registrationForm.agreeTerms, { label: ' ', }) }}
            <label for="inputAgreeTerms">J'ai lu et accepté les Conditions d'Utilisation.</label><br>
        </div>
        <button type="submit" class="btn">Continuer</button>
        {{ form_end(registrationForm) }}
        Déjà un compte ? <a href="login">Se connecter</a>
    </div>
{% endblock %}
