{% extends 'base.html.twig' %}

{% block title %}The Legend Of Zelda: The Great Forum{% endblock %}

{% block body %}
    <style>
        body {height: 100%;}
        .container>img {
            height: 300px;
        }
        body {margin-top: 120px;}
        header {margin-top: -120px;}

    </style>

    <header>
        <a href={{ path('home') }}><img alt="logo" src={{ asset("media/Logo.png") }}></a>
        <nav>
            <ul>
                <li><a href={{ path('app_reader_article_index') }}>Articles</a></li>
                {% if app.user %}
                    <li><a href={{ path('app_profile_articles_index') }}>Mes articles</a></li>
                    <li><a href={{ path('app_profile_articles_index') }}>Contact</a></li>
                    <li><a href={{ path('app_profile_show') }}>Profil</a></li>
                {% else %}
                    <li><a href={{ path('app_profile_articles_index') }}>Contact</a></li>
                    <li><a href={{ path('app_login') }}>Se connecter</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
    <div class="container">
        <img alt='' src= {{ asset('uploads/' ~ article.imageFile) }}>
        <a href="{{ path('app_profile_articles_index') }}">Retour à mes articles</a>
        <a href="{{ path('app_profile_articles_edit', {'id': article.id}) }}">Modifier</a>
        {{ include('profile_articles/_delete_form.html.twig') }}
        <h1>{{ article.title }}</h1>
        <p>{{ article.description }}</p>
    </div>




{% endblock %}
