{% extends 'base.html.twig' %}

{% block title %}The Legend Of Zelda: The Great Forum{% endblock %}

{% block body %}
    <style>
        body {height: 100%;}
        .container>img {
            height: 300px;
        }
        body {margin-top: 120px;}
        header {margin-top: -120px;}

        #border {
            border: 4px solid #B99F65;
            border-radius: 8px;
            position: absolute;
            z-index: 1;
            height: 394px;
            width: 793px;
        }

        .icones {
            display: flex;
            justify-content: flex-end;
        }

        #titleRow {
            display: flex;
            justify-content: space-between;
        }


        h1 {
            font-size: 50px;
            font-weight: bold;
        }

    </style>
    <script>
        tinymce.init({
            selector: 'textarea',
            body_class: 'tinyTextarea',

            content_style:
                "body {background-color: #130204; color: white;}",
            elementpath: false,
            menubar : false,
            toolbar: false,
            statusbar: false,
        });
    </script>
    {{ include('tool/headerBig.html.twig') }}
    <div class="container">
        <img alt='' src= {{ asset('uploads/' ~ article.imageFile) }}>
        <div id="titleRow">
            <h1>{{ article.title }}</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="icones">{{ include('profile_articles/_delete_form.html.twig') }}</div>
            {% endif %}
        </div>
        <div id="border"></div>
        <label>
            <textarea>{{ article.description }}</textarea>
        </label>
    </div>
    {{ include('tool/footer.html.twig') }}
{% endblock %}
